altgraph==0.15
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
future==0.16.0
idna==2.6
macholib==1.9
numpy==1.17.0
olefile==0.44
pandas==0.25.0
pefile==2017.11.5
Pillow==4.1.1
PyAutoGUI==0.9.36
PyInstaller==3.3.1
PyMsgBox==1.0.6
pypiwin32==223
PyScreeze==0.1.11
python-dateutil==2.8.0
PyTweening==1.0.3
pytz==2019.2
pywin32==223
requests==2.18.4
six==1.12.0
urllib3==1.22
virtualenv==15.1.0
